<div id="<%= dom_id product %>">
  
  <p>
    <strong><%= t('activerecord.attributes.name') %>:</strong>
    <%= product.name %>
  </p>

  <% if show_description %>
    <p>
      <strong><%= t('activerecord.attributes.description') %>:</strong>
      <%= product.description %>
    </p>
  <% end %>

  <p>
    <strong><%= t('activerecord.attributes.price') %>:</strong>
    <%= product.price %>$
  </p>

</div>
