<%= render 'shared/flash' %>

<%= image_tag @product.photo, width: 200 if @product.photo.attached? %>

<%= render partial: 'products/product', locals: {product: @product, show_description: true} %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete, data: {turbo_confirm: "¿You're sure?"} %>
</div>
