<%= render 'shared/flash' %>

<%= image_tag @product.photo, width: 200 if @product.photo.attached? %>

<%= render partial: 'products/product', locals: {product: @product, show_description: true} %>

<div>
  <%= link_to t('.link.edit'), edit_product_path(@product) %> |
  <%= link_to t('.link.back'), products_path %>

  <%= button_to t('.button.destroy'), @product, method: :delete, data: {turbo_confirm: t('common.confirm')} %>
</div>
